%ul{class:'main-screen'}
  %li{class:'main-screen'}
    %a{class:'header-menu',href:'#'}
      資産設定
  %li{class:'main-screen'}
    %a{class:'header-menu',href:'/'}
      取引記録
  %li{class:'main-screen'}
    %a{class:'header-menu',href:'#'}
      銘柄登録
  %li{class:'main-screen'}
    %a{class:'header-menu',href:'/'}
      え
  %li{class:'main-screen'}
    %a{class:'header-menu',href:'#'}
      お
  %li{class:'main-screen'}
    %a{class:'header-menu',href:'/'}
      か