.side-bar
  .side-bar__top-item
    .side-bar__top-item--welcome
      = "ようこそ #{@nickname} 様"
      %br
      [
      = link_to "ログアウト", destroy_user_session_path, method: "delete"
      ]
  .side-bar__search-window
    ここには世界の主要な指標が表示される予定