@font-face {
  font-family: 'Noto Serif JP', serif;
  src: url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,900&display=swap&subset=japanese') format("woff");
}

$headercolor:#eeeeee;
$contentscolor:#EDE1D5;
$text-color:#444444;

.wrapper{
  font-family: 'Noto Serif JP', serif;
  width:100%;
  height:100vh;
  display:flex;
  color:$text-color;
}
p.logout{
  margin-bottom:5px;
}
a{
  text-decoration: none;
  color:#3453cc;
  font-weight: bold;
}

a.header-menu{
  display:block;
  width:130px;
  text-decoration: none;
  font-weight: bold;
  color:$text-color;
  font-size:16px;
  &__title{
    width:255px;
    font-size:20px;
    line-height: 50px;
  }
  &__signup{
    font-size:14px;
  }
}

ul.main-screen{
  display: flex;
  padding:0;
  width:100%;
}

li.main-screen{
  height:50px;
  line-height: 50px;
  list-style:none;
  text-align: center;
  border-right: 1px solid #55669E;
  width: 130px;
  &__title{
    width:255px;
    font-size:20px;
    line-height: 47px;
  }
  &--logout{
    background-color: #999;
  }
  &__user-name{
    text-align:right;
    list-style: none;
    width:350px;
  }
}
.main-screen{
  width:100%;
  height:100%;
  &__header{
    height:50px;
    background-color: $headercolor;
    border-bottom: 5px solid #808080;
  }
  &__contents{
    height:calc(100% - 50px);
    background-color: $contentscolor;
    overflow: scroll;
  }
}
